body {
    font-family: Helvetica, "Helvetica Neue", SansSerif;
    width: 960px;
}
#top {
    background-color: white;
}


#wrapper {
    margin-left: auto;
    margin-right: auto;
}
#menu {
    height: 80px;
    line-height: 80px;
    width: 368px;
    text-align:right;
}

#menu ul
{
    padding: 0;
}
#logo {
    width: 592px;
}


#footer {
    background-color: black;
    color:white;
    text-align:center;

}

#homepanels
{
    background-image:url("../images/adventure.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
#panel1, #panel2, #panel3, #panel4 {

    width: 50%;
    padding-bottom: 50%;
}

#panel1
{
    background-color: rgba(0, 0, 0, .5);
}

#panel1 h1
{
    color: white;
    margin: 20% 5% 5%;
}

#panel4, #panel3
{
    background-color: white;
}
.panelMargin {
    text-align:right;
    margin: 5%;
}

a{
    text-decoration: none;
    font-weight:bold;
}

a:hover
{
    text-decoration: underline;
}
table {
    border: 1px black solid;
}

#picture-container
{
    margin: 10px;
}

#picturecaption-container
{
    border: 1px black solid;
    width:315px;
}
#caption-container
{
    padding: 0 5px 5px;
}

#caption-container h3
{
    margin-top: 5px;
}
.margin{
    margin:auto;
}
.borderThin {
    border: 1px solid black;

}

.floatLeft {
    float: left;
}

.clear-fix {
    display:inline-block;
    width:100%;
    clear:both;}
.displayInline{
    display:inline;
}